* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

body {
    background-color: black;
}

/*** header ***/

header {
    height: 100px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

/* speaker - zoom */

.container > *  {
    background-color: grey;
    color: white;
    padding: 7px;
    margin: 5px 4px;
    border-radius: 5px;
}

.speaker i {
    margin-right: 4px;
}



/*** main ***/

main {
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

/* img */

.img {
    position: relative;
    margin: 10px 5px;
}




/* icon-text */

.icon-text {
    background-color: grey;
    color:white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 5px;
    margin-bottom: 4px;  
}




/*** FOOTER ***/

footer {
    display: flex;
    min-height: 100px;
    background-color:#222222;
    

}

footer > * {
    /*width: calc(100% / 3);*/
    border: 1px solid red;
}


/* section-left */

.section-left {
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

footer i {
    color: white;
}



/* icone */

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-left: 20px;
}

.column i {
    font-size: 30px;
}



.fa-share-square {
    color: green;
}

.column span {
    font-size: 15px;
}




/* section center */

.section-center {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




/* section right */
.section-right {
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
   
}

.text-right {
    background-color: #4a4a4a;
    color: red;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}