* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.container > *  {
    background-color: grey;
    color: white;
    padding: 7px;
    margin: 5px 4px;
    border-radius: 5px;
}

.speaker i {
    margin-right: 4px;
}